# dependencies
node_modules/
.pnp
.pnp.js

# builds
dist/
build/
.next/
out/
*.tsbuildinfo

# turbo
.turbo/

# env
.env
.env.local
.env.*.local
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# testing
coverage/
playwright-report/
test-results/
.nyc_output/

# editors / OS
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# prisma
packages/database/prisma/*.db
packages/database/src/generated/
